# © 2021–2023 CVS Health and/or one of its affiliates. All rights reserved.
#
# Licensed under the MIT License. See LICENSE file at the project root or
# https://opensource.org/license/mit/ for details.
#
# SPDX-License-Identifier: MIT

# Dependency directories
node_modules/

# Temporary files
temp/
ibmOutput/
validation/tests/old

# Secrets
.env
.npmrc

# System files
.DS_Store

# Development configurations
.vscode/
