# You can get a WAVE API key at https://wave.webaim.org/api.
WAVE_KEY=__placeholder__
# You can get an Anthropic API key at https://console.anthropic.com/.
ANTHROPIC_API_KEY=__placeholder__
# Name to identify this Testaro instance to a server.
AGENT=__placeholder__
# Whether to make the browser visible (normally false).
HEADED_BROWSER=false
# Whether to output even forked-job logging to the primary log (normally false).
DEBUG=false
# Number of seconds to wait between actions (normally 0).
WAITS=0
# See https://nodejs.org/api/cli.html#options for all permitted options.
NODE_OPTIONS='--trace-uncaught --trace-warnings'
# Suppresses a routine warning from QualWeb.
PUPPETEER_DISABLE_HEADLESS_WARNING=true
# URL to poll for available jobs when watching the network.
NETWATCH_JOB=__placeholder__/api/testaro-agent/job
# URL to report results to when watching the network.
NETWATCH_REPORT=__placeholder__/api/testaro-agent/report
# Password of this Testaro agent
NETWATCH_AUTH=__placeholder__
# Directory (relative to project root) to watch for jobs.
JOBDIR=__placeholder__
# Directory (relative to project root) to write reports to when watching a directory for jobs.
REPORTDIR=__placeholder__
# Multiplier for time limits (normally 1).
TIMEOUT_MULTIPLIER=1
# Whether to abort the job when any test act fork crashes (default false).
ABORT_ASSERTIVELY=false

## License

# © 2021–2025 CVS Health and/or one of its affiliates. All rights reserved.
# © 2026 Jeff Witt.
# © 2026 Jonathan Robert Pool.

# Licensed under the [MIT License](https://opensource.org/license/mit/). See [LICENSE](../../LICENSE) file at the project root for details.

# SPDX-License-Identifier: MIT
